=provide(:title, 'About')

%section#about
  %h1 About
  
  %p
    Stashboard is a status dashboard for APIs and software services originally written by 
    =link_to "Twilio", "http://www.twilio.com"
    to provide status information on its Voice and SMS APIs. The original
    =link_to "Stashboard.org", "http://www.stashboard.org/"
    is implemented in Python and its source code is available on 
    =link_to "Github.", "https://github.com/twilio/stashboard"
  
  %p
    This version of Stashboard is written in Ruby on Rails and hosted on Heroku. It was built as a final project for
    Rails for Developers, a course taught by
    =link_to "General Assembly", "http://generalassemb.ly/"
    in conjunction with
    =link_to "Pivotal Labs.", "http://pivotallabs.com/"
    
  %p
    Download the source code on 
    =link_to "Github.", "https://github.com/hernamesbarbara/RubyStashboard"