%tr{ :id => event.id}
  %td= event.created_at.localtime.strftime("%B %d, %l:%M%p") 
  %td.status.highlight= image_tag event.status.image
  %td= event.message
  %td.delete 
    =link_to "X", {controller:'events', action: 'destroy', id: event}, method: :delete, confirm: "You sure?", remote: true