- provide :title, "Events for this service"

#webservices.frame
  %h2
    %span= @service.name
  
  %p#serviceDescription Powered by Stashboard
      
  %table.event-log{ :cellpadding => "10"}
    %thead
      %tr
        %th.time-header Time
        %th.status-header Status
        %th Message
        %th Delete?
    
    %tbody#events-tbody
      -if ! @events.nil?
        =render @events
        %tr
          %td.service=link_to "Create Event", new_service_event_path
       
:javascript
  $(function() { 
    $("td.delete a").bind("ajax:success", function($evt) {
      $($evt.target).parent().parent().fadeOut(1000, function() { 
        $($evt.target).parent().parent().remove();
      })
    });
  });