#footer
  %ul.left
    %li
      Site developed by Austin Ogilvie in conjunction with 
      =link_to "General Assembly", "http://generalassemb.ly/"
      and
      =link_to "Pivotal Labs", "http://pivotallabs.com/"
  
  %ul.right
    %li#powered
      POWERED BY
      = powered_by
      STASHBOARD 2012